<!DOCTYPE html>
<html>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Daily Route</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Main</a></li>
        <li><a href="#about">My Routes</a></li>
        <li><a href="#contact">About</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Sidebar Level 1 -->
    <div class="col-md-4 sidebar">
      <!-- Title -->
      <h4>Start your route now!</h4>

      <!-- To add new location -->
      <div id="addloc" class="row">
        <div class="col-md-12">
          <div class="input-group">
            <label for="newloc" class="sr-only">New Location</label>
            <input id="newloc" type="text" class="form-control" placeholder="New Location">
            <div class="input-group-btn">
              <button type="button" id="addloc-btn" class="btn btn-success" tabindex="-1">Add</button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="#">Add</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div><!-- /.input-group -->
        </div>
      </div>
      <br>
      <!-- mode of transportation -->
      <div class="row">
        <div class="col-md-12">
          <div id="trans-mode" class="btn-group">
            <button type="button" class="btn btn-default btn-xs">
              Dri
            </button>
            <button type="button" class="btn btn-default btn-xs">
              Wal
            </button>
            <button type="button" class="btn btn-default btn-xs">
              Bic
            </button>
            <button type="button" class="btn btn-default btn-xs">
              Tra
            </button>
          </div>
        </div>
      </div>
      <hr>

      <!-- Locations added so far -->
      <h4>Selected Locations</h4>
      <!-- sortable accordion -->
      <div class="row">
        <!-- Instruction starts -->
        <div id="loc-acc-ins" class="col-md-12">
          <div class="group">
            <h3>Your added location</h3>
            <div>
              <p>
                The locations you add will appear in this accordion.
              </p>
              <p> 
                You can sort your locations to your convenience.
              </p>
            </div>
          </div>
        </div>
        <!-- Instruction ends -->
        <div id="loc-acc" class="col-md-12">
          <!-- Sample group -->
          <div id="loc-acc-tmp" class="group" style="display: none;">
            <h3>New Location</h3>
            <div>
              <!-- time form starts -->
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label">
                    Start
                  </label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control time-start-A" placeholder="00:00">
                  </div>
                  <div class="col-sm-5">
                    <input type="text" class="form-control time-start-B" placeholder="00:00">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">
                    End
                  </label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control time-end-A" placeholder="00:00">
                  </div>
                  <div class="col-sm-5">
                    <input type="text" class="form-control time-end-B" placeholder="00:00">
                  </div>
                </div>
                <!-- Time range input ends -->
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="col-sm-6">
                      <button type="reset" class="btn btn-warning">
                        Reset
                      </button>
                    </div>
                    <div class="col-sm-6">
                      <button type="button" class="btn btn-danger remove-btn">
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- time form ends -->
            </div>
          </div>
          <!-- sample ends -->
        </div>
      </div>
      <hr>
      <!-- location accordion ends -->

      <button id="testcalc" type="button" class="btn btn-warning">
        Show Demo Route
      </button>
      <!-- NOTE: register mode of transportation -->

      <!-- Directions Panel starts -->
      <h4>Directions Panel</h4>
      <div class="row">
        <div id="directionsPanel" class="col-md-12">
        </div>
      </div>
      <!-- Directions Panel ends -->

    </div>
    <!-- end of sidebar -->

    <div class="col-md-8 col-md-offset-4 main">
      <div id="map-canvas" class="map-container">
      </div>
    </div>

  </div>
</div>

 
<div class="modal fade" id="refineloc-dlg" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Refine Locations</h4>
      </div>
      <div class="modal-body">
        <p>
          We found more than one locations matching your request. 
          Please select the one you desire and click "Choose", or click "None":
        </p>
        <ol id="refineloc-lst" class="selectable">
        </ol>
        <ol style="display: none;">
          <li id="refineloc-lst-tmp" class="ui-widget-content">Address</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" id="refineloc-none" class="btn btn-warning">None</button>
        <button type="button" id="refineloc-select" class="btn btn-primary">Choose</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>