  <div class="row">
    <div class="col-md-12">
      <form>
        <fieldset class="well">
          <legend>Transportation Mode</legend>
          <div id="trans-mode">
            <input type="radio" id="mode-d" name="trans-mode">
            <label for="mode-d">Driving</label>
            <input type="radio" id="mode-w" name="trans-mode" checked="checked">
            <label for="mode-w">Walking</label>
            <input type="radio" id="mode-b" name="trans-mode">
            <label for="mode-b">Bycycling</label>
            <input type="radio" id="mode-t" name="trans-mode">
            <label for="mode-t">Transit</label>
          </div>
        </fieldset>
      </form>
    </div>
  </div>