<div class="row">
  <!-- Instruction starts -->
  <div id="loc-acc-ins" class="col-md-12">
    <div class="group">
      <h3>Your added location</h3>
      <div>
        <p>
          The locations you add will appear in this accordion.
        </p>
        <p> 
          You can sort your locations to your convenience.
        </p>
      </div>
    </div>
  </div>
  <!-- Instruction ends -->
  <div id="loc-acc" class="col-md-12">
    <!-- Sample group -->
    <div id="loc-acc-tmp" class="group" style="display: none;">
      <h3>New Location</h3>
      <div>
        <!-- time form starts -->
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Arrive
            </label>
            <div class="col-sm-5">
              <input type="text" class="form-control time-start-A" placeholder="after">
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control time-start-B" placeholder="before">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Duration
            </label>
            <div class="col-sm-5">
              <input type="text" class="form-control dur-A" placeholder="min">
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control dur-B" placeholder="max">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Depart
            </label>
            <div class="col-sm-5">
              <input type="text" class="form-control time-end-A" placeholder="after">
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control time-end-B" placeholder="before">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Priority
            </label>
            <div class="col-sm-5">
              <select class="form-control priority">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <!-- Time range input ends -->
          <div class="form-group">
            <div class="col-sm-12">
              <div class="col-sm-6">
                <button type="reset" class="btn btn-warning col-sm-12">
                  Reset
                </button>
              </div>
              <div class="col-sm-6">
                <button type="button" class="btn btn-danger remove-btn col-sm-12">
                  Remove
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- time form ends -->
      </div>
    </div>
    <!-- sample ends -->
  </div>
</div>