<h1> Tutorial page</h1>
</br>
<h3> 
	<div>
		This is a app for scheduling your trip. After you enter in all your destinations, this app can generate the optimal schedule for you. This simple tutorial will teach you everything you need to know to use it.
	</div>
	</br>
	<div>
		The main page for our app consists of an interactive map and a side panel. The map is fully draggable and zoomable. It will be used to display your selected locations and routes. The side panel is your main controller for this app. On the top searchbar, you can enter in your intended destinations. If your destination isn't clear to our app, it will provide you a list of places to select from. Each destination you added in will be display in both the map and the destination panel in the side panel. You can change the order of the locations in the destination panel easily by dragging them. The location at the top and the bottom of the list are respectively the beginning of the trip and the end of the trip. If you click on any of the locations, the menu for it will expand. The menu consists of six optional fields. You can specify you arrival time, staying duration and departure time if there is special need to your schedule. The two fields provided for each option specifies a range for that option. Our app will fit your schedule to that range.
	</div>
	</br>
	<div>
		After you entered in all destinations and ordered them correctly, you can click on the "Get Route" button. This will generate a list of possible route for you to select from. If you click on any of them, the details of this route will be shown in the panel and the map would draws out the route for you. 
	</div>
	</br>
	<div>
		Congratulations! You have learned everything you need to know to use this app. Now it is time to start and plan your schedule!
	</div>

</h3>
