<% provide(:title, current_user.email) %>
<% provide(:has_map, true) %>

<div class="row">

  <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Your Saved Routes</h4>

  <div id="savedroutes-ins" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>Control Panel</h3>

    <div>
      <%= link_to "Delete All Routes", remove_all_routes_user_path(current_user), data: { confirm: 'Are you sure?' }, type: 'button', class: 'btn btn-warning' %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= will_paginate @routes, renderer: BootstrapPagination::Rails %>
  </div>
  <div id="savedroutes-acc" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= render @routes %>
  </div>

</div>
<hr>
<%= link_to "Return", main_path, type: 'button', class: 'btn btn-warning' %>
