<div id="dir-row" class="row" style="display:none;">
  <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Directions Panel</h4>
  <div id="dir-ins" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>ShouldNotBeDisplayed</h3>
    <div><p>ShouldNotBeDisplayed</p></div>
  </div>
  <div id="dir-acc" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="route-temp" style="display:none;" class="route-panel">
      <h3 class="route-title">Title</h3>
      <div class="route-content"><p></p></div>
    </div>
  </div>
</div>