<div class="container">
  <div class="row">
    <!-- Sidebar Level 1 -->
    <div class="col-md-4 sidebar">

      <!-- Title -->
      <h4>Start your route now!</h4>

      <!-- Directions Panel starts -->
      <!-- <%= render 'shared/panel_direction' %> -->

    </div>

    <%= render 'shared/google_map' %>

  </div>

</div>