/* sortable locations */
#locs {
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#locs > div { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	height: 30px; 
}
