/* sortable locations */
#loc-acc label {
	font-size: 80%;
	padding-left: 0;
}

#loc-acc .col-sm-5 {
	padding-left: 18px;
	padding-right: 0;
}

/* refine loc selection */
.selectable .ui-selecting { 
	background: #FECA40; 
}

.selectable .ui-selected { 
	background: #F39814; 
	color: white; 
}

.selectable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}

.selectable li { 
	margin: 3px; 
	padding: 0.4em; 
	height: 40px; 
}

/* dir panel */
#dir-panel > div {
	padding-left: 18px;
	padding-right: 18px;
}

legend {
    border-style: none;
    border-width: 0;
    font-size: 100%;
    line-height: 20px;
    margin-bottom: 0;
}