<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Tianhao Zhang">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>Daily Route</title>

  <!-- JQuery API -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <!-- Bootstrap -->
  <script src="dist/js/bootstrap.min.js"></script>
  <link href="dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Google Maps API -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjxIMvftYWM2uDN5s5GvFSODrFs2tRWEM&sensor=false">
  </script>

  <!-- Custom styles for this template -->
  <link href="custom.css" rel="stylesheet">

  <!-- Map canvas action -->
  <script type="text/javascript" src="map.js"></script>

  <!-- JQuery action -->
  <script type="text/javascript" src="jq.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Daily Route</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Main</a></li>
        <li><a href="#about">My Routes</a></li>
        <li><a href="#contact">About</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 sidebar">
      <div class="ui-widget">
        <label for="newloc">New Location: </label>
        <input id="newloc">
        <button type="button" id="addloc-btn" class="btn btn-primary">
          Add Location
        </button>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-6 col-md-8 col-md-offset-4 main">
      <div id="map-canvas" class="map-container">
      </div>
    </div>

  </div>
</div>

</body>
</html>