<% if !signed_in? and @pagehelper_active == "Main"%>
  <form class="navbar-form navbar-right" id="signin-form" >
    <div class="form-group">
      <input id="email-field" type="email" class="form-control" placeholder="Email">
      <input id="password-field" type="password" class="form-control" placeholder="Password">
    </div>
    <button id="signup" type="button" class="btn btn-default btn-sm">SignUp</button>
    <button id="signin" type="button" class="btn btn-default btn-sm">LogIn</button>
  </form>
<% elsif signed_in? %>
  <p class="navbar-text navbar-right">Signed in as
    <%= current_user.email %>
    <button id="home-btn" type="button" class="btn btn-link btn-sm">Home</button>
    <button id="routes-btn" type="button" class="btn btn-link btn-sm">Saved Routes</button>
    <button id="logout-btn" type="button" class="btn btn-link btn-sm">LogOut</button>
  </p>
<% end %>