<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Tianhao Zhang">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>Daily Route</title>

  <!-- JQuery API -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <!-- Bootstrap -->
  <script src="dist/js/bootstrap.min.js"></script>
  <link href="dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Google Maps API -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjxIMvftYWM2uDN5s5GvFSODrFs2tRWEM&sensor=false">
  </script>

  <!-- Custom styles for this template -->
  <link href="custom.css" rel="stylesheet">

  <!-- Map canvas action -->
  <script type="text/javascript" src="map.js"></script>

  <!-- JQuery action -->
  <script type="text/javascript" src="jq.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
